body {
    background-color: #252431;
}
h1 {
    color: #f3d8d8;
    font-family: BluuNext-Bold, sans-serif;
}

 @font-face {
    font-family: BluuNext-Bold;
    src: url(fonts/BluuNext-Bold.woff2) format("woff2")
    url(fonts/BluuNext-Bold.otf) format("opentype");
    
}
.myDiv{
    font-family: BluuNext-Bold, sans-serif;
}
